# {{- $secret := lookup "v1" "Secret" .Release.Namespace "mongo-creds" -}}
# apiVersion: v1
# data:
# {{- if $secret -}}
#   username: {{ $secret.data.username | quote }}
#   password: {{ $secret.data.password | quote }}
# {{- else -}}
#   username: {{ .Values.auth.adminuser | b64enc | quote }}
#   password: {{ .Values.auth.adminpass | b64enc | quote }}
# {{- end -}}
# kind: Secret
# metadata:
#   name: mongo-creds

apiVersion: v1
data:
{{- if .Values.auth.adminpass }}
  adminpass: {{ .Values.auth.adminpass | b64enc | quote }}
{{- end }}
{{- if .Values.auth.password }}
  password: {{ .Values.auth.password | b64enc | quote }}
{{- end }}
{{- if .Values.auth.key }}
  key: {{ .Values.auth.key | b64enc | quote }}
{{- end }}
kind: Secret
metadata:
  name: mongo-creds
