apiVersion: v1
kind: Service
metadata:
  name: mongo
  labels:
    name: mongo
spec:
  clusterIP: None 
  selector:
    app: mongo
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
---
# - $domain := print (required "domain required!" .Values.domain) "." (required "domainsuffix required!" .Values.domainsuffix) 
# apiVersion: traefik.containo.us/v1alpha1
# kind: IngressRoute
# metadata:
#   name: ingressroute.mongo
# spec:
#   entryPoints:
#     - web
#     - websecure
#   routes:
#     - match: Host(`mongo*.$domain`)
#       kind: Rule
#       services:
#         - name: mongo
#           port: 27017
# apiVersion: traefik.containo.us/v1alpha1
# kind: IngressRouteTCP
# metadata:
#   name: mongo-ingress
# spec:
#   entryPoints:
#    - mongo
#   routes:
#   - match: HostSNI('mongo*.$domain')
#     services:
#     - name: mongo
#       port: 27017


