apiVersion: v1
kind: Service
metadata:
  name: mongo
  labels:
    name: mongo
spec:
  clusterIP: None 
  selector:
    service: mongo # add both mongo and mongoarbiter
    # app: mongo
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
---
{{- if .Values.service.enabled -}}
{{- range $mongocount, $e := until (.Values.replicas|int) -}}
{{ $c := $mongocount | int }}
{{ $c = add1 $c }}
apiVersion: v1
kind: Service
metadata:
  name: mongo-{{ $mongocount }}
spec:
  externalTrafficPolicy: Local
  {{- if ge (len $.Values.service.external) ($c) -}}
    {{- with (index $.Values.service.external $mongocount) }}
  type: LoadBalancer
  loadBalancerIP: {{ .ip }}
    {{- end }}
  {{- else }}  
  type: {{ $.Values.service.type }}
  {{- end }}
  selector:
    statefulset.kubernetes.io/pod-name: mongo-{{ $mongocount }}
  ports:
    - protocol: TCP
  {{- if ge (len $.Values.service.external) ($c) -}}
    {{- with (index $.Values.service.external $mongocount) }}
      port: {{ .port }}
    {{- end }}
  {{- else }}  
      port: 27017
  {{- end }}
      targetPort: 27017
---
  {{- if $.Values.ingress.enabled }}
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: mongo-{{ $mongocount }}
spec:
  entryPoints:
  {{ toYaml $.Values.ingress.entryPoints | indent 4 }}
  routes:
  # - match: HostSNIRegexp(`mongo-{subdomain:[[:ascii:]]+}.{{$.Values.service.domainprefix}}`)
  - match: HostSNI(`mongo-{{ $mongocount }}.{{$.Values.service.domainprefix}}`)
    services:
    - name: mongo
      port: 27017
    {{- if $.Values.ingress.certResolver }}
  tls:
    certResolver: {{$.Values.ingress.certResolver}}
    domains:
      - main: "{{$.Values.service.domainprefix}}"
        sans:
          - "*.{{$.Values.service.domainprefix}}"
    {{- end }}
---
  {{- end }}
{{- end }}
{{- end }}