apiVersion: v2
name: openflow
description: A Helm chart for deploying a single openflow instance
type: application
version: 0.1.65
appVersion: 1.3.72
dependencies:
- name: mongodb
  version: "10.x"
  repository: "https://charts.bitnami.com/bitnami"
  condition: mongodb.enabled
- name: loki
  version: "2.x"
  repository: "https://grafana.github.io/loki/charts"
  condition: loki.enabled
