apiVersion: v2
name: openflow
description: A Helm chart for deploying a single openflow instance
type: application
version: 0.1.101
appVersion: 1.4.24
dependencies:
- name: mongodb
  version: "10.x"
  repository: "https://charts.bitnami.com/bitnami"
  condition: mongodb.enabled
- name: loki
  version: "2.x"
  repository: "https://grafana.github.io/loki/charts"
  condition: loki.enabled
- name: jaeger
  version: "0.x"
  repository: "https://jaegertracing.github.io/helm-charts"
  condition: jaeger.enabled
- name: victoria-metrics-cluster
  version: "0.x"
  repository: "https://victoriametrics.github.io/helm-charts"
  condition: victoria-metrics-cluster.enabled
