apiVersion: v2
name: openflow
description: A Helm chart for deploying a single openflow instance
type: application
version: 0.1.58
appVersion: 1.3.28
dependencies:
- name: mongodb
  version: "10.x"
  repository: "https://charts.bitnami.com/bitnami"
  condition: mongodb.enabled
