apiVersion: v1
kind: ServiceAccount
metadata:
  name: openflow-api-user
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: openflow-api-role
rules:
- apiGroups: 
  - ''
  resources:
  - pods
  - services
  verbs: 
  - get
  - watch
  - list
  - create
  - update
  - patch
  - delete
- apiGroups: 
  - 'apps'
  resources:
  - deployments
  verbs: 
  - list
  - create
  - update
  - delete
- apiGroups:
  - ''
  resources:
  - pods/log
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch 
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - patch
  - watch
- apiGroups:
  - route.openshift.io
  resources:
  - routes/custom-host
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - routes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - patch
  - watch
- apiGroups:
  - ""
  resources:
  - routes/custom-host
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: openflow-api-rb
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: openflow-api-role
subjects:
- kind: ServiceAccount
  name: openflow-api-user
---
{{- if .Values.openflow.nodered_allow_nodeselector  }}
  {{- if not (lookup "rbac.authorization.k8s.io/v1" "ClusterRole" .Release.Namespace "node-reader-role") }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: node-reader-role
  namespace: default
  annotations:
    helm.sh/resource-policy: keep
rules:
- apiGroups: [""]
  resources: ["nodes", "nodes/proxy"]
  verbs: ["get", "list", "watch"]
  {{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: node-reader-{{ .Release.Namespace }}-crb
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: node-reader-role
subjects:
- kind: ServiceAccount
  name: openflow-api-user
  namespace: {{ .Release.Namespace }}
{{- end }}